.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 20px;
}

.task-input-div {
    height: 30px;
    width: 300px;
    margin-right: 10px;
}

.add-task-btn {
    background-color: blanchedalmond;
    border: none;
    padding: 0px 12px 0px 12px;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}